<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Планировщик задач</title>
    <script src="{% static "js.js" %}"></script>
    <link rel="stylesheet" href="{% static "css.css" %}" />
</head>
<body>
    <!-- <p>Задачи</p>
    {{ Задачи }} -->
    <div id="myDIV" class="header">
        <h2>Планировщик задач</h2>
        <input type="text" id="myInput" placeholder="Название...">
        <span onclick="newElement()" class="addBtn">Добавить</span>
      </div>
      <ul id="myUL">
        {% for el in Задачи %}
        <li>
          {{el.Имя}} | {{el.Описание}} | {{el.Состояние}}
        </li>
        {% endfor %}
      </ul>

      <script>
                // Создайте кнопку "закрыть" и добавьте ее к каждому элементу списка
                var myNodelist = document.getElementsByTagName("LI");
        var i;
        for (i = 0; i < myNodelist.length; i++) {
          var span = document.createElement("SPAN");
          var txt = document.createTextNode("\u00D7");
          span.className = "close";
          span.appendChild(txt);
          myNodelist[i].appendChild(span);
        }
        
        // Нажмите на кнопку закрыть, чтобы скрыть текущий элемент списка 
        var close = document.getElementsByClassName("close");
        var i;
        for (i = 0; i < close.length; i++) {
          close[i].onclick = function() {
            var div = this.parentElement;
            div.style.display = "none";
          }
        }
        
        // Добавление символа "проверено" при нажатии на элемент списка
        var list = document.querySelector('ul');
        list.addEventListener('click', function(ev) {
          if (ev.target.tagName === 'LI') {
            ev.target.classList.toggle('checked');
          }
        }, false);
        
        // Создайте новый элемент списка при нажатии на кнопку "Добавить"
        function newElement() {
          var li = document.createElement("li");
          var inputValue = document.getElementById("myInput").value;
          var t = document.createTextNode(inputValue);
          li.appendChild(t);
          if (inputValue === '') {
            alert("Вы должны что-то написать!");
          } else {
            document.getElementById("myUL").appendChild(li);
          }
          document.getElementById("myInput").value = "";
        
          var span = document.createElement("SPAN");
          var txt = document.createTextNode("\u00D7");
          span.className = "close";
          span.appendChild(txt);
          li.appendChild(span);
        
          for (i = 0; i < close.length; i++) {
            close[i].onclick = function() {
              var div = this.parentElement;
              div.style.display = "none";
            }
          }
        }
      </script>
</body>
</html>